<!-- <app-main-nav> -->
  <mat-card>
    <div class="mat-elevation-z8">
      <mat-card-header>
 
        <mat-card-title class="card-container-left">
          <mat-icon>groups</mat-icon>
          Usuarios existentes</mat-card-title>

        <mat-card-title class="card-container-right">
          <button mat-raised-button color="primary">Crear</button>
        </mat-card-title>
          
      </mat-card-header>

      

      <table mat-table> <!--[dataSource]="dataSource"-->
        <!-- Position Column -->
        <ng-container matColumnDef="Nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let userts$"> {{userts$.name}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Apellido">
          <th mat-header-cell *matHeaderCellDef> Apellido </th>
          <td mat-cell *matCellDef="let userts$"> {{userts$.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="Identificación (C.C)">
          <th mat-header-cell *matHeaderCellDef> Identificación (C.C) </th>
          <td mat-cell *matCellDef="let userts$"> {{userts$.weight}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Rol asociado">
          <th mat-header-cell *matHeaderCellDef> Rol asociado </th>
          <td mat-cell *matCellDef="let userts$"> {{userts$.symbol}} </td>
        </ng-container>

        <ng-container matColumnDef="Estado">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td mat-cell *matCellDef="let userts$"> {{userts$.symbol}} </td>
        </ng-container>

        <ng-container matColumnDef="Teléfono">
          <th mat-header-cell *matHeaderCellDef> Teléfono </th>
          <td mat-cell *matCellDef="let userts$"> {{userts$.symbol}} </td>
        </ng-container>

        <ng-container matColumnDef="Correo electrónico">
          <th mat-header-cell *matHeaderCellDef> Correo electrónico </th>
          <td mat-cell *matCellDef="let userts$"> {{userts$.symbol}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</mat-card>
<!-- </app-main-nav> -->

