<div class="container" >
  <div class="mat-elevation-z8">
    <mat-grid-list cols="5" rowHeight="100px">

      <mat-grid-tile
        colspan="3"
        rowspan="2">
        <h1 class="home-text">Aplicación OLSoftware</h1>
      </mat-grid-tile>

      <mat-grid-tile
      colspan="2"
      rowspan="6">

      <!-- <app-login></app-login> -->

      </mat-grid-tile>

      <mat-grid-tile
        colspan="3"
        rowspan="1">
      <h3 class="home-text">Prueba práctica Front-end senior</h3>
      </mat-grid-tile>

      </mat-grid-list>
  </div>
</div>

